### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
*.bak

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
